.data-container {
  width: 100%;
  margin: auto;
}

.display-data {
  font-size: 30px;
  background-color: white;

  width: 30%;
  height: 400px;
  margin: 1rem;
  margin-bottom: 2rem;

  border: 1px dotted dodgerblue;
  border-radius: 8px;

  float: left;
  box-sizing: border-box;

  overflow: hidden;
}

.id {
  font-size: 12px;
  color: rgb(160, 160, 160);
}

.input-surround {
  text-align: center;
}
