.container {
  text-align: center;
  background-color: #f4f4f4;
}

.title {
  background-color: forestgreen;
  color: white;

  font-size: 50px;
  padding: 40px;

  /* border-radius: 0 0 300px 300px; */
  margin: auto;

  cursor: default;
  user-select: none;
}

.title p {
  font-size: 1rem;
}

.route-link {
  /* margin-top: 1rem; */
  background-color: #333333;
  padding: 30px;
}

.route-link a {
  text-decoration: none;
  margin-right: 15px;
  color: #f4f4f4;
  background-color: #333333;
  padding: 1rem;
  border: 1px solid #333333;
  border-radius: 7px;

  transition: 0.2s ease-in;
}

.route a:visited {
  color: white;
}

.route-link a:hover {
  opacity: 0.9;
  color: dodgerblue;
  border: 1px solid rgba(30, 143, 255, 0.466);
  background-color: white;
}

.balance {
  font-size: 3rem;
}
